<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="logback-spring-${spring.profiles.active}.xml"/>
    <property file="logback-variables.yml"/>

    <springProfile name="local">
        <root level="TRACE">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
